<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-nav" href="<%= root_path %>">Prop Pal (t_t)</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= tenant_dashboard_path %>">Dashboard</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pay Rent <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= pay_rent_path %>">Make a Payment</a></li>
              <li><a href="#">Pay Portion</a></li>
              <li><a href="#">Pay Utilites</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Jump To
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <%=link_to "Properties", properties_path%></li>
              <li> <%=link_to "Sectors", sectors_path%></li>
              <li> <%=link_to "Units", units_path%> </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact PM <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Unit Issue</a></li>
              <li><a href="#">Questions</a></li>
              <li><a href="#">Complaint</a></li>
              <li><a href="#">PM Contact Info</a></li>

            </ul>
          </li>
               <li><a href="#">Lease</a></li>
            </ul>


      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= tenant_path(@tenant) %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li>
          <% if tenant_logged_in? %>

            <a href="<%= logout_path %>"><span class="glyphicon glyphicon-log-out"></span> Logout </a>

          <% else %>
            <a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Login1 </a>
          <% end %></li>
      </ul>
    </div>
  </div>

</nav>
