<%= render "tenant_navigation" %>
<br><br><br>
<h1> Welcome <%= @tenant.first_name %> </h1>

<br><br>
<div class= "col-md-6 col-sm-12">

  <h3>Property info: </h3>
  <ul>
      <li><%=link_to @tenant.property.name, @tenant.property %></li>
  </ul>
  <h3>Sector/Unit info</h3>
  <ul>
      <li>Sector: <%= link_to @tenant.sector.name, @tenant.sector %></li>
      <li>Unit: <%= link_to @tenant.unit.name, @tenant.unit %></li>
  </ul>



</div>
<div class= "col-md-6 col-sm-12">
  <h3>Message board/ bulletin</h3>
  <br>
  <h4>
  <li>Water will be turned of this weekend May 12-13th.</li>

  <li>Godzilla may stop by on monday May 14th</li>

  <li> Block Party Saturday May 19th.</li>

  </h4>

  <br><br>

</div>

<div id="ledger" class="col-md-6 col-lg-6 col-sm-12">
<%= render "ledger" %>
</div>
