<%if admin_logged_in?%>
    <%= render '/partials/admin_navigation' %>
<%elsif tenant_logged_in? %>
    <%= render '/tenants/tenant_navigation'%>
<%else%>
    <%= render '/partials/navigation'%>
<%end%>

<h1> Create a new account </h1>

  <% if flash[:errors] %>
    <div style="text-align:center;"class="errors"><h2>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %></h2></div>
  <% end %>

<%= render 'form'%>
