<h1><%= @tenant.fullname %>'s Home Page</h1>

<<<<<<< HEAD
<% @unit.tenants.each do |tenant| %>
<%= link_to tenant.fullname, tenant %>
<% end %>

=======
Email: <%= @tenant.email %><br>
Lease Number: <%= @tenant.contract_id%><br>
Unit Number: <%= @tenant.unit_id %>
>>>>>>> Ian
