<%= render "tenant_navigation" %>
<br>
<h1><%= @tenant.fullname %></h1>

<% if flash[:notice] %>
  <div style="text-align:center;"class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>
<br>
<h2>Email: <%= @tenant.email %><br></h2>
<h3>Lease Number: <%= @tenant.contract_id %><br></h3>
<h3>Unit Number: <%= @tenant.unit_id %></h3>
<br><br>
<%= button_to "Edit", edit_tenant_path, method: "get" %> <br>
