<!-- #navigation partial is within admins directory -->
<%= render "/partials/admin_navigation" %>

<h1>"Welcom to the dashboard <%=current_admin.fullname%>!"</h1>
<%= button_to "Log out", logout_path %> <br>
<%= button_to 'Home', "/", method: :get %>


<br><br>
<p>Take me to: </p>
<%= form_tag("/admins_dashboard", method: "post") do %>
  Property: <%= collection_select :property, :property_id, @properties, :id, :name %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag("/admins_dashboard", method: "post") do %>
  Sector:   <%= collection_select :sector, :sector_id, @sectors, :id, :name %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag("/admins_dashboard", method: "post") do %>
  Unit:     <%= collection_select :unit, :unit_id, @units, :id, :name %>
  <%= submit_tag("Search") %>
<% end %>
