
<div class="container">

  <div class="omb_login">
    <h3 class="omb_authTitle"> Login
    </h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
          <i class="fa fa-facebook visible-xs"></i>
          <span class="hidden-xs">Facebook</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
          <i class="fa fa-twitter visible-xs"></i>
          <span class="hidden-xs">Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-google">
          <i class="fa fa-google-plus visible-xs"></i>
          <span class="hidden-xs">Google+</span>
        </a>
      </div>
    </div>
    <!-- Begin of login page -->
    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
      <%= form_tag(sessions_path, :class => "omb_loginForm") do%>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <%= email_field_tag :email, "",class: "form-control", :placeholder => "Email Address" %>
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
        </div>
        <br>
        <!-- <span class="help-block">Password error</span> -->
        <%= submit_tag "Login",id: "button", class: "btn btn-lg btn-primary btn-block" %>

    </div>
  </div>

  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <label style="font-size:20px; border:solid; background:lightgrey; text-align: center;" class="checkbox text-bold">
        <%= check_box_tag(:admin) %>
        <b><%= label_tag :admin, "Admin! " %></b>
      </label>
    </div>

    <br>

    <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
        <a href="#">Forgot password?</a>
      </p>
    </div>
  </div>
  <% end  %>
</div>

</div>
