<%= render '/partials/admin_navigation' %>

<h1><%= @property.name %></h1>

<img src= "https://static.dezeen.com/uploads/2018/02/riverfront-square-michael-green-lotus-newark-new-jersey-usa-largest-timber-office-building_dezeen_2364_col_1-852x537.jpg" alt="Property Photo" width="440" height="300">

<p>Admin(s): <%= @property.admin.fullname %></p><br>

<p>Sectors: </p>
<ul>
<% @sectors.map do |sector|%>
    <li><%= link_to sector.name, sector %></li>
<%end%>
</ul>

<%if session[:admin_id]%>
    <%= link_to 'Edit property', edit_property_path(@property) %>
<%end%>
