<%if @admin%>
    <%= render '/partials/admin_navigation' %>
<%elsif @tenant %>
    <%= render '/tenants/tenant_navigation'%>
<%else%>
    <%= render '/partials/navigation'%>
<%end%>
<br>
<div id="intro_welcome">
  <div id="welcome_div">
  <% if tenant_logged_in? %>
      <h1 id="welcome" class=" ">Welcome back <%= @tenant.fullname %>!</h1>
    <% elsif admin_logged_in? %>
      <h1 id="welcome" class=" ">Welcome back <%= @admin.fullname %>!</h1>
      <% else %>
    <h1 id="welcome" class=" ">Welcome to Property Pal!</h1>
    <% end %>
</div>
<br>
<% if flash[:notice] %>
  <div style="text-align:center;"class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>
</div>

<div id="second" class="container-fluid image-container no-padding" style="padding:0px">
      <div class="row  col-md-12 col-lg-12"  style="padding:0px">
        <img src="http://media.equityapartments.com/images/q_50/f_auto/fl_lossy/4206-28/the-kelvin-apartments-exterior" alt="placeholder 960" class="img-responsive" />
      </div>


</div>
