<%if @admin%>
    <%= render '/partials/admin_navigation' %>
<%elsif @tenant %>
    <%= render '/tenants/tenant_navigation'%>
<%else%>
    <%= render '/partials/navigation'%>
<%end%>
<h1> Units </h1>
  <% @sectors.each do |prop_name, sector_arr| %>
    <% if Property.where(name: prop_name).any? %>
      <h5>Property: <%= link_to prop_name, Property.where(name: prop_name).first %></h5>
      <ul>
      <%sector_arr.each do |sector|%>
        <% if Sector.find(sector.id) %>
          <h5>Sector: <%= link_to sector.name, sector %></h5>
          <ul>
            <%units = sector.units%>
            <%units.each do |unit|%>
              <li>Unit: <%=link_to unit.name, unit%></li>
            <%end%>
          </ul>
        <% end %>
      <% end %>
      </ul>
    <%end%>
  <%end%>
