<%if @admin%>
    <%= render '/partials/admin_navigation' %>
<%elsif @tenant %>
    <%= render '/tenants/tenant_navigation'%>
<%else%>
    <%= render '/partials/navigation'%>
<%end%>
<h1>Unit: <%=@unit.name %> </h1>

<% if flash[:notice] %>
  <div style="text-align:center;"class="errors"><h2><%= flash[:notice] %></h2></div>
<% end %>

<img src= "http://invisionstudio.com/wp-content/uploads/2015/05/23-1.jpg" alt="Apartment Photo" width="440" height="300">

<h2>Tenant(s): </h2>
<% @tenants.map do |t| %>
  <h4><%= t.fullname %></h4>
<% end %>
<%if session[:admin_id]%>
  <h4><%= link_to "Edit Unit", edit_unit_path%></h4>
<%end%>
